@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Rate resturants based on how you feel abobut them - be as subjective as possible. If a restaurant has less than 4 stars it will likley go out of business. Wield your power carefully. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click the navbar link to Rate a restaurant
            or 
            click below. 
        </p>
        <br />
        <p>
            CLICK IT!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rate a Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Click here to learn more about Restuarant Rater and our contributions to the Dyslexia foundation. Each year millions of Americans missspell the word restuarant and don't even know it. Why can't this be a Hotel Rater?!   </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the owners of Restaurant rater with your comments and concerns. Do not contact us about bad ratings you've received - the people have spoken, no soup for you.  </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>